body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', Arial, sans-serif;
}

.background-image {
    background-image: url('back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:yellow;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.navbar {
    background-color: rgba(0, 0, 0, 0.2); /* Very transparent */
    transition: background-color 0.5s ease, color 0.5s ease;
}

.navbar-item {
    color: gray; /* Default text color */
    transition: color 0.5s ease;
}

.navbar:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Transparent on hover */
}

.navbar-item:hover {
    color: black !important; /* Change text color on hover */
    background-color: transparent !important;
}

.navbar-burger {
    color: black !important;
    transition: color 0.5s ease;
}

.navbar-burger:hover span {
    background-color: black !important; /* Change burger icon color on hover */
}

html {
    scroll-behavior: smooth;
}

h2.title.is-3 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.list.is-hoverable li:hover {
    color: #3273dc;
    transition: color 0.3s ease;
}

.contact-form, .contact-info {
    animation: fadeInUp 1s;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#head h1 {
    color: white; 
}

#head p {
    color: white !important; 
}

#highlights h1 {
    color: black;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}
.bd{
    border: 1px solid lightslategray;
}
.social-icon {
    display: inline-block;
    font-size: 2em; /* Increase size */
    color: #333; /* Default color */
    transition: color 0.3s ease, transform 0.3s ease;
    margin: 0 10px; /* Spacing between icons */
}

.social-icon:hover {
    color:darkgray; /* Color on hover */
    transform: scale(1.2); /* Slightly enlarge on hover */
}

.social-icon i {
    font-size: inherit; /* Ensure icon inherits size from parent */
}